<div>
  <h3>Question: </h3>
  <h4><em><%= @riddle["question"] %></em></h4>
  <form action="/<%= @index %>">
      <label for="input">
      <input name="input" class="form-control">
      <button type="submit">Continue</button>
  </form
</div>