<div>
  <h3>Question:</h3>
  <form action="/<%= @index %>">
    <div class="form-group">
      <label for="input" class="form-control">
      <input name="input" class="form-control">
      <button type="submit"></button>
    </div>
  </form
</div>